@import "tailwindcss";

.nav-bar>ul{
    display: flex;
    gap: 1.5em;
    @apply text-white font-bold tracking-wide text-xl my-4 font-mono;
}
.greeting-bar{
    @apply leading-4;
}
.note-card{
    height: 100px;
    width: 100%;
    position: relative;
}
.active-link{
    border-bottom: 3px solid black;
    font-weight: 400;
    color: aqua;
}
.todo-card{
    display: flex;
    margin-left:0.3em;
    padding: 0.5em;
    gap: 1em;
    align-items: center;
    position: relative;
    border-bottom: 1px solid black;
}
.todo-card .del-icon{
    justify-self: flex-end;
    position: absolute;
    right: 2em;
}