@import "tailwindcss";

.search-bar{
    height: 2rem;
    @apply bg-gray-300 rounded-lg p-2 mr-2;
    
}
.search-bar >input{
   @apply text-black;
}
.nav-bar>ul{
    display: flex;
    gap: 1.5em;
    @apply text-white font-bold tracking-wide text-xl my-4 font-mono;
}
.greeting-bar{
    @apply leading-4;
}
.note-card{
    height: 100px;
    width: 100%;
    @apply bg-gray-300 rounded-lg shadow-lg p-2;
    position: relative;
}
.note-card h2{
    font-size: larger;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.note-card p{
    font-size: medium;
    font-weight: 400;
}
.active-link{
    border-bottom: 3px solid black;
    font-weight: 400;
    color: aqua;
}
.icon-container{
    display: flex;
    justify-content: flex-end;
    gap: 1.2em;
    margin-right: 0.5em;
    margin-bottom: 0;
}
.todo-card{
    display: flex;
    margin-left:0.3em;
    padding: 0.5em;
    gap: 1em;
    align-items: center;
    position: relative;
    border-bottom: 1px solid black;
}
.todo-card .del-icon{
    justify-self: flex-end;
    position: absolute;
    right: 2em;
}