@import "tailwindcss";

@layer base{
    body{
        @apply bg-gray-700 p-2
    }
}
*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
#root{
    height: 100%;
}
.main-layout{
    height: 100%;
}
.section-container{
    height: 100%;
}